<div class="col-lg-1 collapse navbar-collapse bg-primary1" id="navbarSupportedContent">
  <ul class="nav flex-column">
    <li class="nav-item">
      <div class="card">
        <a class="nav-link" href="#">
          <span class="oi oi-home" style="font-size: 30px;"></span>
          <p>Home</p>
        </a>
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <a class="nav-link" href="#">
          <span class="oi oi-envelope-closed" style="font-size: 30px;"></span>
          <p>Inbox</p>
        </a>
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <a class="nav-link" href="#">
          <span class="oi oi-target" style="font-size: 30px;"></span>
          <p>Target</p>
        </a>
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <a class="nav-link" href="#">
          <span class="oi oi-task" style="font-size: 30px;"></span>
          <p>Check</p>
        </a>
      </div>
    </li>
    <li class="nav-item">
        <div class="card">
          <a class="nav-link" href="#">
            <span class="oi oi-clipboard" style="font-size: 30px;"></span>
            <p>Clip</p>
          </a>
        </div>
      </li>
  </ul>
</div>