#navbarSupportedContent{
    position: relative;
    left: 0;
    height: 800px;
}
.oi{
    font-size: 28px;
}
.card{
    background-color: rgba(43,43,115);
    margin-bottom: 8%;
    width: 100%;
    text-align: center;
    position: relative;

}
.bg-primary1{
    background-color: rgba(43,43,115);
}

p{
    font-size: 10px;
}

.nav-link{
    color: white;
}