
<div class="container-fluid">
  <div class="row">
  <app-side-navigationbar></app-side-navigationbar>
  <div *ngIf="data">
    {{data}}
    <!-- <table class="table table-responsive">
      <thead>
        <th>Sr.No.</th>
        <th>Teacher Name</th>
        <th>Department</th>
        <th>Contact Number</th>
        <th>Address</th>
        <th>Emial</th>
        <th>Commitee</th>
      </thead>
      <tbody>
        <td>1</td>
        <td>Mahesh Ghuge</td>
        <td>Information Technology</td>
        <td>7878785895</td>
        <td>Pune</td>
        <td>maheshghuge@gmail.com</td>
        <td>Allumina</td>
      </tbody>
    </table> -->
  </div>
</div>
</div>