/* You can add global styles to this file, and also import other style files */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);
@import url(assets/css/open-iconic-bootstrap.css);
.required-field{
    color: red;
}

.btn-navy-blue{
    color: white;
    background-color: rgba(43,43,115)
}