<div>
  <table class="" border="1" style="margin-left:2px;">
    <thead class="CalendarHeading">
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="date-container">
            <div class="calendarDay">1</div>
            <div class="alert alert-warning">Ittiam placement Drive</div>
            <div class="alert alert-primary">Seminar on Big Data</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">2</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">3</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">4</div>
            <div class="alert alert-warning">Avaya placement Drive</div>
            <div class="alert alert-success">IEEE college event day 1</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">5</div>
            <div class="alert alert-success">IEEE college event day 2</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">6</div>
            <div class="alert alert-success">IEEE college event day 3</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">7</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="date-container">
            <div class="calendarDay">8</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">9</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">10</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">11</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">12</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">13</div>
            <div class="alert alert-danger">InC college event day 1</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">14</div>
            <div class="alert alert-danger">InC college event day 2</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="date-container">
            <div class="calendarDay">15</div>
            <div class="alert alert-danger">InC college event day 3</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">16</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">17</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">18</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">19</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">20</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">21</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="date-container">
            <div class="calendarDay">22</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">23</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">24</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">25</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">26</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">27</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">28</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="date-container">
            <div class="calendarDay">29</div>
          </div>
        </td>
        <td>
          <div class="date-container">
            <div class="calendarDay">30</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>